{% extends 'loaderTemplate.html.twig' %}

{% block title %}Agent|Rendez-vous{% endblock %}

{% block main %}

<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Ajouter un Agent</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
    <!-- Content Row -->
    <div class="row">

        <h1>Agent index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for agent in agents %}
                <tr>
                    <td>{{ agent.id }}</td>
                    <td>{{ agent.Noms }}</td>
                    <td>{{ agent.Tel }}</td>
                    <td>
                        <a href="{{ path('agent_show', {'id': agent.id}) }}">show</a>
                        <a href="{{ path('agent_edit', {'id': agent.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('agent_new') }}">Create new</a>

    </div>
        </div>
    </div>
</div>
{% endblock %}
