{% extends 'loaderTemplate.html.twig' %}

{% block title %}Agent|Rendez-vous{% endblock %}

{% block main %}

<div class="col-xl-8 col-lg-7">
    <div class="card bg-success text-white shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Détailes un Agent</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>Noms</th>
                <td>{{ agent.Noms }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ agent.Tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agent_index') }}">back to list</a>

    <a href="{{ path('agent_edit', {'id': agent.id}) }}">edit</a>

    {{ include('agent/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}

