{% extends 'base.html.twig' %}

{% block title %}Commisariat index{% endblock %}

{% block body %}
    <h1>Commisariat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commisariat in commisariats %}
            <tr>
                <td>{{ commisariat.id }}</td>
                <td>{{ commisariat.Nom }}</td>
                <td>{{ commisariat.Adresse }}</td>
                <td>
                    <a href="{{ path('commisariat_show', {'id': commisariat.id}) }}">show</a>
                    <a href="{{ path('commisariat_edit', {'id': commisariat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commisariat_new') }}">Create new</a>
{% endblock %}
