{% extends 'loaderTemplate.html.twig' %}

{% block title %}Demandeur |Rendez-vous{% endblock %}

{% block main %}

<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Ajouter un Demandeur </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <!-- Content Row -->
            <div class="row">
                <h1>Demandeur Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>DateNaiss</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandeur in demandeurs %}
            <tr>
                <td>{{ demandeur.id }}</td>
                <td>{{ demandeur.Noms }}</td>
                <td>{{ demandeur.DateNaiss ? demandeur.DateNaiss|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demandeur.Tel }}</td>
                <td>{{ demandeur.Adresse }}</td>
                <td>
                    <a href="{{ path('demandeur_show', {'id': demandeur.id}) }}">show</a>
                    <a href="{{ path('demandeur_edit', {'id': demandeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demandeur_new') }}">Create new</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}
