<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('template') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Gest <sup>rende-vous</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('template') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableaux de bord</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    {% for role in app.user.roles %}
        {% if role == 'ROLE_AGENT' %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Parametres</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <h6 class="collapse-header">Prendre</h6>
                        <a class="collapse-item" href="{{ path('prendre_index') }}">List</a>
                        <a class="collapse-item" href="{{ path('prendre_new') }}">Ajouter</a>
                        <h6 class="collapse-header">Commissariat</h6>
                        <a class="collapse-item" href="{{ path('commisariat_index') }}">List</a>
                        <a class="collapse-item" href="{{ path('commisariat_new') }}">Ajouter</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('user_index_agent') }}" >
                    <i class="fas fa-fw fa-user"></i>
                    <span>Agents</span>
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('user_index_demandeur') }}" >
                <i class="fas fa-fw fa-user"></i>
                <span>Demandes</span>
            </a>
        </li>
        {% elseif role == 'ROLE_DEMANDEUR'   %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('prendre_new') }}" >
                    <i class="fas fa-fw fa-user"></i>
                    <span>Prendre Rende-vous</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}


    <!-- Demandeur rende-vous -->
{#    Todo: conditionner si c'est un demandeur ou un agent #}
  {#  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Rende-vous</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('prendre_index') }}">Mes rende-vous</a>
                <a class="collapse-item" href="{{ path('prendre_new') }}">Prendre rende-vous</a>
            </div>
        </div>
    </li>#}


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
